body {
    margin: 0;
    font-family: 'Segoe UI';
    background: #f0f2f5;
}

header {
    background: #0a3d62;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.hero {
    background: url('/static/images/banner.jpg') center/cover no-repeat;
    padding: 120px;
    text-align: center;
    color: white;
}

.search-card {
    background: white;
    width: 50%;
    margin: -60px auto 40px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
}

.search-card input {
    padding: 12px;
    margin: 10px;
    width: 40%;
}

button {
    padding: 12px 25px;
    background: #e84118;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.train-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
}

.train-card {
    background: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.train-card img {
    width: 100%;
    border-radius: 10px;
}

.seat-grid {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    gap: 15px;
    justify-content: center;
}

.seat {
    background: green;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.form-card {
    background: white;
    padding: 30px;
    width: 40%;
    margin: auto;
    border-radius: 15px;
}

.success {
    text-align: center;
    margin-top: 100px;
}